
@* Notifications.cshtml *@
@model List<Project.Models.Notification>
<h2>Notifications</h2>
<ul class="list-group">
    @foreach (var n in Model)
    {
        <li class="list-group-item">
            @n.Message
            <br /><small>@n.SentAt.ToString("g")</small>
        </li>
    }
</ul>
